# Copy this file to .env.enterprise. Do not commit the real file or the
# license itself. Docker Compose reads the path and mounts that file read-only
# into the Enterprise backend.
# Use full immutable image references. v0.1.0 is tested with Community Core v0.2.6.
ENTERPRISE_BACKEND_IMAGE=ghcr.io/veriqorn/veriqorn-enterprise-backend@sha256:90e5d0b7fe9e67237f87a493b8aac79f4c27d570b099724444dda961ab684b3a
ENTERPRISE_FRONTEND_IMAGE=ghcr.io/veriqorn/veriqorn-enterprise-frontend@sha256:aba7f65ba140cab765946e5f090b29b840f476f9073194592e4c980107cd009b
VERIQORN_LICENSE_FILE=./licenses/veriqorn-license.json
